# Python specific
__pycache__/
*.pyc
*.pyo
*.egg-info


# Django specific
*.sqlite3
media/
static/

# Next.js specific
.next/
node_modules/
out/
build/
.pnp
.yarn/

# VS Code specific
.vscode/

# OS or Editor specific
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
*.log

# Packages lock files (optional, but recommended to keep for consistency)
# package-lock.json
# yarn.lock

# Deployment related (if applicable)
# .dockerignore