{% extends "layout/base.html" %}
    
    {% load i18n %}

{% block title %}{{ block.super }} - {{ _("Αλλαγή Κωδικού") }}{% endblock %}
    
        {% block extra_head %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        {% endblock %}

{% block content %}
  <h2>Αλλαγή Κωδικού Πρόσβασης</h2>
  <p>Συμπληρώστε τη φόρμα για να αλλάξετε τον κωδικό σας.</p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Αποθήκευση νέου κωδικού</button>
  </form>
{% endblock %}
